body {
  font-family: 'Julius Sans One', sans-serif;
  background-color:#41505E;
  color: #569492;
  padding-right: 20px;
}

.card{
  padding: 10px;
  margin: 10px;
  background-color: #383245;
  border: solid 0.1em #A4BAA2;
}

nav {
  background-color: #DFE0AF;
  font-size: 1.5em;
  color: #383245;
}

h1{
  font-size: 7em;
}

h2 {
  font-size: 3em;
  color: #569492;
}

h3 {
  font-size: 2em;
}

button{
  font-size: 1.5em;
  border-radius: 0.4em;
  background-color: #A4BAA2;
  color: #10222B;
  border-color: #10222B;
  border-width: thick;
}

img{
  height: 300px;
  width: 200px;
}
